.container {
    width: auto!important;
}

th {
text-align: center;
}
.xcalend{position:absolute;z-index:999;width:150px;line-height:1.2em;font-size:15px;text-align:center;background:#fff;border:2px solid #ddd}
.xcalend td{cursor:pointer;padding:6px}
.xcalend thead td{color:#333}
.xcalend thead tr:last-child td{font-size:12px;background:#fff;color:#555;cursor:default}
.xcalend tbody td{color:#025}
.xcalend tfoot td{color:#333}
.xcalend tbody td.tday{background:#eee;font-weight:bold}
.xcalend tbody td:hover, .xcalend td:hover{background:#025;color:#acf}
.xcalend tbody td:nth-child(n+6){color:#e78c5c}
.xcalend .cal-first td:nth-last-child(-n+2){color:#e78c5c}
.xcalend tbody td.today{background:#d00;color:#fff;font-weight:bold}
.xcalend tbody td.bold{font-weight:bold}
.xcalend tbody td.cal-l b, .xcalend tbody td.cal-r b{display:none}
.xcalend tbody td.cal-l:hover b, .xcalend tbody td.cal-r:hover b{display:inline}
.xcalend a{text-decoration:none}
.xcalend th a{color:#ccc;display:block;padding:5px 0}

.filter-panel {
    position: relative;
}

.filter-panel.collapsed .filter-panel__inner, .filter-panel.collapsed .filter-panel__btns {
    opacity: 0;
    max-height: 0;
    transition: all 0.5s ease;
}

.filter-panel__inner {
    display: flex;
    flex-wrap: wrap;
    align-items: flex-start;
    position: relative;
    max-height: 500px;
    opacity: 1;
    transition: all 0.5s ease;
}

.filter-panel__toggle {
    cursor: pointer;
    border: 2px solid #ccc;
    width: 36px;
    height: 36px;
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    top: 12px;
    right: 60px;
    background: #ccc;
    border-radius: 50%;
    transition: all 0.5s ease;
    z-index: 100;
}

.filter-panel__toggle--inner {
    width: 10px;
    height: 10px;
    border-bottom: 2px solid black;
    border-left: 2px solid black;
    transform: rotate(-45deg);
    transition: all 0.5s ease;
}

.filter-panel.collapsed .filter-panel__toggle {
    background: #fff;
    border: 2px solid #ccc;
    transition: all 0.5s ease;
}

.filter-panel.collapsed .filter-panel__toggle--inner {
    transform: rotate(135deg);
    transition: all 0.5s ease;
}

.filter-item {
    width: 240px;
    display: flex;
    align-items: center;
}

.select2-selection--multiple {
    margin-right: 10px;
    margin-bottom: 10px;
}

.filter-item label {
    margin-right: 5px;
    margin-left: 5px;
}

.filter-item input {
    max-width: 100px;
    height: 34px;
}